<ul class="list-inline text-center">
  <% ["fulano", "ciclano", "cigano"].each do |member| %>
    <li>
      <%= image_tag "#{member}.png", class: "img-circle" %>
      <h3><%= member.capitalize %></h3>
    </li>
  <% end %>
</ul>
